#profile {
  float: right;
}

#dropdownTiketSaya {
  margin-right: 10px;
  margin-bottom: 5px;
  width: 25px;
  height: 25px;
  margin-left: 5px;
  color: #5977c9;
  cursor: pointer;
}
#dropdownLogout {
  margin-right: 15px;
  width: 25px;
  height: 25px;
  margin-left: 5px;
  color: #d63447;
}
#dropdownLogoutContainer {
  cursor: pointer;
}

#gambar {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
  margin-left: 30px;
  color: orange !important;
}
