#jumbo1 {
  background: linear-gradient(120deg, #3498db, #8e44ad);
  height: 350px;
  background-color: #364f6b !important;
}

.jumbo2 {
  background-color: #ffffff !important;
  height: 500px;
  position: absolute;
  margin-top: 150px;
  margin-left: 230px;
}

#logo {
  width: 400px !important;
  height: 200px;
  border-radius: 10px;
  margin-top: 15px;
}
#logo2 {
  width: 400px !important;
  height: 200px;
  border-radius: 10px;
  position: absolute;
  margin-left: -420px;
  /*margin-top: 20px;*/
}

.tujuan {
  margin-top: 40px;
}

#div1 {
  width: 18px;
  height: 18px;
  margin-top: 15px;
  border-radius: 10px;
  border: 1px solid #6768c1 !important;
}
#div3 {
  width: 1px;
  height: 52px;
  background: linear-gradient(120deg, #3498db, #8e44ad);
  margin-top: -17px;
  margin-left: 8px;
}
#div2 {
  width: 18px;
  height: 18px;
  background: linear-gradient(120deg, #3498db, #8e44ad);
  border-radius: 10px;
  margin-top: -17px;
}
#div123 {
  margin-right: 20px;
}

#tombol_cari_kereta {
  position: absolute;
  margin-left: 865px !important;
  margin-bottom: 10px;
  background: linear-gradient(120deg, #3498db, #8e44ad);
  /*background: linear-gradient(120deg,#79bac1,#79bac1,#2a7886);*/
  border-color: #3fc1c9 !important;
  /*background: #3fc1c9;*/
  color: white;
  font-weight: bold;
  margin-top: -53px;
}

#form_jumbo {
  background-color: #ededed !important;
}
#form_jumbo1 {
  background-color: #ededed !important;
}
#select_jumbo {
  width: 80px;
}

#tujuan {
  margin-top: 5px;
  width: 300px !important;
}

#judul_kereta {
  padding: 10px;
  margin-top: 10px;
  font-size: 25px;
  margin-left: 50px;
}

#pending {
  margin-left: 10px;
}
#pending {
  font-size: 15px;
  color: #ffac41;
}
#approvad {
  font-size: 15px;
  color: #1eb2a6;
  margin-left: 30px;
}

#card_jumbo {
  width: 1000px;
  margin-left: 230px;
  background-color: white !important;
  margin-top: -70px;
  position: absolute;
}


.judul_jumbo {
  font-size: 35px;
  font-family: Times-New-Roman;
  color: #ffffff;
  margin-top: 75px;
}
@media only screen and (max-width: 360px) {
  .judul_jumbo {
    font-size: 40px;
    margin-top: 0;
  }
}
.jumbo_title {
  color: #ffffff;
  font-size: 20px;
  font-family: Times-New-Roman;
}
@media only screen and (max-width: 360px) {
  .jumbo_title {
    font-size: 30px !important;
  }
}
#form_admin {
  width: 700px;
}
#admin {
  position: absolute;
  margin-top: 100px;
  margin-left: 330px;
}
#botton_admin {
  width: 400px;
  margin-left: 150px;
  background: linear-gradient(120deg, #3498db, #8e44ad);
}
