
#card_jumbo_detail{
  position: absolute;
  width: 700px;
  height: 500px;
  background-color: #EDEDED !important;
}
#detail_invoice, #detail_invoice2{
	margin-left: 40px;
}
#detail_invoice{
	font-size: 50px;
}
#detail_kereta{
  margin-left: 40px;
  padding-top: 15px;
  font-size:30px;

}
#detail_barcode{
width:  85px;
  height:   85px;
}
#div{
	margin-top: 75px;
}
#botton_close_detail{
  width: 700px;
  margin-top: 3px;
  height: 50px;
  margin-left: -1px;
  background: linear-gradient(120deg,#d63447,#d63447,#f67575);
  border:none;
}
#name_pemesan_detail{
  margin-right: -50px;
}
#phone_detail{
  margin-right: -50px;
}
#email_detail{
  margin-right: -60px;
}
#card_jumbo_transaksi{
  width: 695px;
  margin-left: 18px;
  margin-top: 20px;
  position: absolute;

}
#no_tanda_transaksi{
  margin-left: 15px;
}
#total_detail{
  position: absolute;
  /*margin-top: 580px;*/
  margin-left: 500px;
  margin-top: -37px;
  font-size: 20px;
}
#total_detail2{
  font-size: 30px;
  margin-left: 20px;
}
#hr_detail{
  margin-top: -20px;
}
#div_detail{
    background: #d1cebd;
}
#struk_detail{
  width:  150px;
  height:  150px;
  margin-top: 130px;
  /*margin-right:40px;*/
  margin-left: -50px;
  position: absolute;
  border:   2px solid rgb(106,102,220);
}
#struk_detail2{
  margin-top: 285px;
  /*margin-right:50px;*/
  margin-left: -40px;
  position: absolute;
}
#div_beli2{
  background: #d1cebd;
}
#name_train, #type_train{
  margin-left: -2px;
}