#shoping_beli {
  position: absolute;
  margin-top: -53px;
  margin-left: 10px;
  width: 30px;
  height: 25px;
  color: #6968c1;
  cursor: pointer;
}

#display {
  display: none;
}

#qty {
  width: 100px;
}
